.blog {
    .section-container {
        time {
            font-size: 12px;
        }
        .thumb-deco {
            position: relative;
            figure {
                max-width: 547px;
                img {
                    object-fit: cover;
                }
            }
        }
        .container .tease-post:nth-child(even) figure:after {
            content: "";
            position: absolute;
            width: 500px;
            height: 234px;
            display: block;
            border: 1px solid #000;
            bottom: -55px;
            left: 60px;
            z-index: -1;
        }
    }
}
