
.contactform {
  margin: 2rem 0 0;

  &__wrapper {
    @include contentLimit(1094px);
  }

  &__title {
    margin: 32px 0;

    color: var(--black);
    font: 700 2.8rem / 4rem "Poppins", sans-serif;
  }

  &__subtitle {
    margin: 0 0 31px;

    color: var(--black);
    font: 300 1.8rem / 1.9rem "Poppins", sans-serif;
  }

  .nav-tabs {
    height: 48px;

    li {
      &,
      button {
        height: 100%;
      }

      button {
        color: #000;
        font: 300 1.6rem / 1.8rem "Poppins", sans-serif;
  
        &.active {
          font-weight: 700;
          margin: 1px 0 0;
        }
      }
    }
  }

  .tab-content {
    .form-floating {
      word-break: break;

      & + .form-floating {
        margin: 1.5rem 0 0;
      }

      input,
      textarea {
        &:focus + label,
        &:not(:placeholder-shown) + label {
          font-size: 1.3rem;          
        }
      }

      label,
      input,
      textarea {
        font: 400 1.6rem "Poppins", sans-serif;
      }

      label,
      input {
        max-width: 100%;
        height: 50px;
      }

      textarea {
        min-height: 80px;
      }

      input[type="submit"] {
        @include sizedBox(230px, 49px);

        display: block;
        margin-inline: auto;

        border-radius: 5px;
        border: solid 1px var(--black);

        color: var(--black);
        font: 400 1.6rem / 1.6rem "Poppins", sans-serif;
      }
    }
  }

  &__lgpdtext {
    --fs: 1.2rem;
    --lh: calc(var(--fs) * 1.5);

    color: var(--black);
    font: 400 var(--fs) / var(--lh) "Poppins", sans-serif;
  }

  @media (max-width: 767px) {
    &__nossaequipe {
      margin: 30px 0;
    }
  }

  @media (min-width: 768px) {
    &__wrapper .col-12.order-md-first {
      padding: 0 28px 0 0;
    }

    &__title {
      margin: 0 0 32px;
    }
  }
}
