section.pessoas { 
    font-size: 1.8rem;
}
section.qualidades {
    font-size: 1.8rem;
    .lista-qualidades {
        display: grid;
        grid-template-columns: repeat(2, minmax(100px, 180px));
        gap: 24px;
        justify-content: center;
    }
}
section.depoimentos { 
    font-size: 1.8rem;
}
section.novidades { 
    font-size: 1.8rem;
    .novidades-posts {
        background-image: url(../images/shape-novidades.svg);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: contain;
    }
    .post-link {
        position: relative;
        margin-bottom: 20px;
        .post-title {
            font-size: 1.8rem;
            background-color: rgba(0,0,0,0.62);
            position: absolute;
            bottom: 0;
            z-index: 1;
        }
        .post-thumb {
            aspect-ratio: 16 / 9;
            width: 100%;
            object-fit: cover;
        }
    }
    a {
        font-size: 1.8rem;
    }
}
section.apresentacao {
    a {
        font-size: 1.8rem;
    }
    .icon-apresentacao {
        max-width: 154px;
    }
}
section.faq {
    font-size: 1.8rem;
    background-color: #EDEDED;
    
    .accordion-button { padding-left: 0; }
    .accordion-button,
    .accordion-item {
        font-size: 1.8rem;
        background-color: transparent;
    }
    .accordion-button:not(.collapsed) {
        color: var(--purple);
    }
    .accordion-button:focus {
        box-shadow: 0 0 0 0.25rem rgb(76 0 141 / 25%);
    }
    .accordion-button:not(.collapsed)::after {
        filter: hue-rotate(45deg);
    }
}

@media(min-width: 768px) {
    section.qualidades .lista-qualidades {
        grid-template-columns: repeat(3, minmax(100px, 180px));
        gap: 70px;
    }
    section.novidades .novidades-posts {
        background: none;
    }
}