.blog {
    .wrapper { overflow: hidden; }
    .section-container {
        time {
            font-size: 12px;
            font-weight: 300;
            margin-bottom: 24px;
        }
        .text-box {
            max-width: 314px;
            margin: 0 auto;
        }
        .titulo-post{
            font-size: 18px;
            line-height: 24px;
            font-weight: 300;
            color: #000;
        }
        .thumb-deco {
            position: relative;
            margin-bottom: 30px;
            figure {
                max-width: 271px;
                margin: 0 auto 0 !important;
                img {
                    object-fit: cover;
                    width: 271px;
                    height: 271px;
                }
            }
        }
        .post-articles .tease-post{
            &:nth-child(odd) .thumb-deco .telinha:after,
            &:nth-child(even) .thumb-deco .telinha:after {
                content: "";
                display: block;
                position: absolute;
                top: 94px;
                width: 500px;
                height: 234px;
                border: 1px solid #000;
                z-index: -1;
            }
            &:nth-child(odd) .thumb-deco .telinha:after { left: calc(50% - 77px); }
            &:nth-child(even) .thumb-deco .telinha:after { right: calc(50% - 77px); }
        }
    }
    @media(min-width: 768px) {
        .section-container{
            .text-box { 
                width: 100%;
                max-width: 547px; 
            }
            .thumb-deco {
                margin-bottom: 0;
                figure {
                    max-width: 547px;
                    img {
                        width: 547px;
                        height: 547px;
                    }
                }
            }
            .post-articles {
                .tease-post{
                    margin-bottom: 24px;
                    &:nth-child(odd) .thumb-deco .telinha:after,
                    &:nth-child(even) .thumb-deco .telinha:after {
                        display: none;
                    }
                    &:nth-child(4n-4) .thumb-deco .telinha:after {
                        content: "";
                        display: block;
                        position: absolute;
                        top: -32px;
                        width: 3000px;
                        height: 354px;
                        border: 1px solid #000;
                        z-index: -1;
                        right: 168px;
                    }
                    &:nth-child(4n-3) .thumb-deco .telinha:before {
                        content: "";
                        display: block;
                        position: absolute;
                        top: -32px;
                        width: 3000px;
                        height: 354px;
                        border: 1px solid #000;
                        z-index: -1;
                        left: calc(100% - 168px);
                    }
                }
            }
        }
    }
}
