// Tipografia (by https://type-scale.com/)
html {
  font-size: 62.5%; // 1rem = 10px
}

body {
  @media (max-width: 767px) {
    &.no-scroll {
      overflow: hidden;
    }
  }
}

.section-container {
  @include contentLimit(1180px);
  // lembrando que temos um mixin pra fazer isso sozinho, tá?
  //-- Tá.
}

a {
  color: var(--purple);
  &:hover { color: darkmagenta; }
  &:active { color: var(--purple); }
}