
@mixin contentLimit ($maximum: 1366px) {
  padding: 0;
  margin: 0 auto;
  max-width: $maximum;

  --yPadding: 10px;
  --xPadding: 15px;

  @media (max-width: calc(#{$maximum} + (15px * 2) - 1px)) {
    padding: var(--yPadding) var(--xPadding);

    @content;
  }
}

@mixin sizedBox ($width: 10px, $height: $width) {
  width: $width;
  height: $height;
}
