{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">

				<div class="contactform">
					<div class="contactform__wrapper">
						<h1 class="contactform__title">
							ENTRE EM CONTATO COM NOSSA EQUIPE
						</h1>

						<p class="contactform__subtitle">
							OU ENVIE SEU CURRICULO
						</p>
					</div>
				</div>

			</section>
		</article>
	</div>
{% endblock %}