{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
				<h1 class="article-h1">{{post.title}}</h1>
				<div class="article-body">
					{{post.content}}
					Estou no template homepage

					
					<section class="faq">
						<h2 class="display-2 text-uppercase">Dúvidas frequentes</h2>

						<div class="accordion accordion-flush" id="accordionExample">
							<div class="accordion-item">
								<h2 class="accordion-header" id="orcamento">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
									Como faço um orçamento?
								</button>
								</h2>
								<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="orcamento" data-bs-parent="#accordionExample">
									<div class="accordion-body">
										Só precisa nos mandar a sua logo vetorizada (PDF, COREL, PHOTOSHOP), as medidas e quantidade desejada, pode nos mandar por e-mail ou whatsapp
									</div>
								</div>
							</div>
							<div class="accordion-item">
								<h2 class="accordion-header" id="tempo-orcamento">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
									Em quanto tempo recebo o meu orçamento?
								</button>
								</h2>
								<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="tempo-orcamento" data-bs-parent="#accordionExample">
									<div class="accordion-body">
										Em até 02(dois) dias úteis após a solicitação do orçamento
									</div>
								</div>
							</div>
							<div class="accordion-item">
								<h2 class="accordion-header" id="arte-orcamento">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
									Preciso ter a arte do projeto para realizar o orçamento?
								</button>
								</h2>
								<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="arte-orcamento" data-bs-parent="#accordionExample">
									<div class="accordion-body">
										Não, você só precisa nos fornecer sua logo e o modelo que deseja e nós já conseguimos fazer um desenvolvimento para a aprovação
									</div>
								</div>
							</div>
							<div class="accordion-item">
								<h2 class="accordion-header" id="quantidade-min">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
									Possui quantidade mínima ?
								</button>
								</h2>
								<div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="quantidade-min" data-bs-parent="#accordionExample">
									<div class="accordion-body">
										Nosso processo de precificação depende muito do projeto, quanto maior a quantidade, menor o valor.
									</div>
								</div>
							</div>
							<div class="accordion-item">
								<h2 class="accordion-header" id="fazer-arte">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
									Se eu não tiver a arte, vocês fazem ?
								</button>
								</h2>
								<div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="fazer-arte" data-bs-parent="#accordionExample">
									<div class="accordion-body">
										Se você tiver uma ideia de como quer a etiqueta você pode nos passar e te ajudamos nessa! Lembrando que não criamos marca, apenas a arte para a etiqueta.
									</div>
								</div>
							</div>
							<div class="accordion-item">
								<h2 class="accordion-header" id="pagamento">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
									Como funciona o pagamento ?
								</button>
								</h2>
								<div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="pagamento" data-bs-parent="#accordionExample">
									<div class="accordion-body">
										Você tem duas opções de quitação do valor do pedido:
										Opção 1: Pagamento do valor total

										Você realiza o pagamento do valor total do pedido, as formas de pagamento desta opção
										são: Cartão de crédito, Boleto bancário ou Depósito.

										Opção 2: Pagamento do sinal e do restante

										Você realiza o pagamento do sinal (50% do valor total) e assim que o pedido for finalizado e
										estiver pronto para entrega, você realiza o pagamento do valor restante (50% do valor total).
										As formas de pagamento desta opção são: Boleto bancário ou Depósito.
									</div>
								</div>
							</div>
							<div class="accordion-item">
								<h2 class="accordion-header" id="prazo">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsSeven" aria-expanded="false" aria-controls="collapseThree">
									Qual é o prazo de produção?
								</button>
								</h2>
								<div id="collapsSeven" class="accordion-collapse collapse" aria-labelledby="prazo" data-bs-parent="#accordionExample">
									<div class="accordion-body">
										E????????
									</div>
								</div>
							</div>
							<div class="accordion-item">
								<h2 class="accordion-header" id="material">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseThree">
									Qual é o material usado nos produtos ?
								</button>
								</h2>
								<div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="material" data-bs-parent="#accordionExample">
									<div class="accordion-body">
										O material usado em nossos produtos é o PVC, o que os tornam muito mais resistentes que os outros materiais. Nossos produtos são resistentes ao tempo, água, sol, não desbotam, não quebram e não arranham. Durabilidade e qualidade são nossos principais diferenciais.
									</div>
								</div>
							</div>
							<div class="accordion-item">
								<h2 class="accordion-header" id="horario">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseThree">
									Qual é o horário de atendimento ?
								</button>
								</h2>
								<div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="horario" data-bs-parent="#accordionExample">
									<div class="accordion-body">
										Nosso horário de atendimento é de Segunda-feira à Sexta-feira de 07:30 am às 17:30pm.
									</div>
								</div>
							</div>
							<div class="accordion-item">
								<h2 class="accordion-header" id="contato">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseThree">
									Quais são as formas de contato?
								</button>
								</h2>
								<div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="contato" data-bs-parent="#accordionExample">
									<div class="accordion-body">
										Instagram: definedesign___
										E-mail: marketing@definedesign.com.br
										Telefone: 81 99862-3822.
									</div>
								</div>
							</div>
						</div>
					</section>

				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}