
{% if menu %}
	<ul class="menu-bottom m-0 w-100 d-flex flex-column flex-md-row align-self-md-stretch p-md-0 justify-content-md-between">
		{% for item in items %}
			<li>
				<a target="{{ item.target }}" href="{{ item.link }}" class="d-block text-end d-md-flex align-items-md-center">
					{{ item.title }}
				</a>

				{% if item.children | length > 0 %}
					{% include "menu.twig" with {'items': item.children} %}
				{% endif %}
			</li>
		{% endfor %}
	</ul>
{% endif %}
