
{% if menu %}
	<ul class="m-0 h-100 w-100 d-flex flex-column">
		{% for item in items %}
			<li>
				<a target="{{ item.target }}" href="{{ item.link }}" class="d-block text-end">
					{{ item.title }}
				</a>

				{% if item.children | length > 0 %}
					{% include "menu.twig" with {'items': item.children} %}
				{% endif %}
			</li>
		{% endfor %}
	</ul>
{% endif %}
