{% extends "tease.twig" %}

{% block content %}
	<div class="d-flex flex-column-reverse">
		<h2 class="h2"><a href="{{post.link}}">{{post.title}}</a></h2>
		<p><time pubdate>{{post.date}}</time></p>
		{% if post.thumbnail.src %}
			<img class="w-75" src="{{post.thumbnail.src}}" />
		{% endif %}
	</div>
{% endblock %}