
.header {
  @include sizedBox(100%, var(--header-height));

  &__wrapper {
    @include sizedBox(100%);
    @include contentLimit(1094px);

    --xPadding: 15px;

    .logo {
      height: 48px;
    }

    .navbar {
      a {
        color: var(--black);
        text-decoration: none;
        text-transform: uppercase;
        font: 700 1.125rem / 1.5rem "Manrope", sans-serif;
      }
    }

    .hamburger {
      --angle: 35deg;
      --hamburger-width: 42px;
      --hamburger-height: 28px;

      cursor: pointer;
      @include sizedBox(var(--hamburger-width), var(--hamburger-height));
      
      span {
        --line-height: 4px;

        background-color: var(--black);
        @include sizedBox(100%, var(--line-height));
        transition: top .2s ease .2s, transform .2s ease;
      }

      span:nth-child(odd) {
        max-width: 50%;
      }

      span:nth-child(1) {
        top: 0;
        left: 0;
        transform-origin: 100% 50%;
      }

      span:nth-child(2) {
        transform-origin: center;
      }

      span:nth-child(3) {
        right: 0;
        top: calc(100% - var(--line-height));
        transform-origin: 0 50%;
      }
    }
  }

  @media (max-width: 767px) {
    .navbar {
      z-index: 20;

      top: 0;
      right: calc(var(--side-menu-gap) * -1);
      position: absolute;
      transition: right .4s ease-in-out;

      background-color: #fff;
      @include sizedBox(var(--side-menu-gap), 100vh);

      > ul {
        padding: 36px 0;

        li {
          + li {
            margin: 20px 0 0;
          }

          a {
            padding: 4px 12px;
          }
        }
      }
    }

    &:not(.menu--opened) .header__wrapper {
      overflow: hidden;
    }

    &.menu--opened {
      .navbar {
        right: 0;
      }

      .hamburger {
        span {
          transition: top .2s ease, transform .2s ease .2s;
        }

        span:nth-child(1),
        span:nth-child(3) {
          transform: rotate(var(--angle));
          top: calc(var(--hamburger-height) / 2 - var(--line-height) / 2);
        }

        span:nth-child(2) {
          transform: rotate(calc(var(--angle) * -1));
        }
      }
    }
  }
}
