<div class="whatsapp">
    <figure class="p-3 mb-0">
        <a target="_blank" href="https://api.whatsapp.com/send?phone=5581998623822&text=Ol%C3%A1,%20gostaria%20de%20fazer%20um%20or%C3%A7amento" class="">
            <img src="{{theme.link}}/static/images/icon-whatsapp.svg" class="img-fluid" alt="">
        </a>
    </figure>
</div>